<footer class="bg-gray-800 text-white py-4 mt-8">
  <div class="container mx-auto text-center">
    <p class="text-sm md:text-base">
      Desarrollado por <span class="font-semibold">John Alexander Chicaiza Gavilanes</span>
    </p>
    <p class="text-sm md:text-base">
      Email: <a href="mailto:tucorreo@ejemplo.com" class="text-blue-400">jachicaiza&#64;outlook.com</a>
    </p>
    <p class="text-sm md:text-base">
      Tecnologías:
      <span class="font-semibold">Angular v.16, Tailwind CSS, TypeScript</span>
    </p>
    <p class="text-sm md:text-base">
      Proyectos:
      <a href="https://github.com/JohnAchicaizaG/Velaio-TODO" class="text-blue-400">GitHub</a> |
      <a href="https://www.linkedin.com/in/jachicaizag92/" class="text-blue-400">LinkedIn</a>
    </p>
    <p class="text-xs md:text-sm mt-2">© 2024</p>
  </div>
</footer>
